{%
    set classes = [
    'article',
    'node',
    'node--type-' ~ node.bundle|clean_class,
    node.isPromoted() ? 'node--promoted',
    node.isSticky() ? 'node--sticky',
    not node.isPublished() ? 'node--unpublished',
    view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
]
%}
{{ attach_library('classy/node') }}
<article{{ attributes.addClass(classes) }}>
    <h2{{ title_attributes }}>
        <a href="{{ url }}" rel="bookmark">{{ label }}</a>
    </h2>
    <div{{ content_attributes.addClass('node__content') }}>
        {{ content.field_person_bio }}
        {{ content.body }}
    </p>
    <div class="node__meta">
        <div class="issue-meta">
            <div class="left">
                <div class="journal-name"><a href="/how2">How2</a></div>
                {{ content.field_volume_reference }}
                {{ content.field_issue_reference }}
            </div>
        </div>
        {{ content.field_tags }}
    </div>
</article>
