<article class="body-section">

	{% if title_display %}
		<h2 class="body-section-title">
			{{ title_display|raw }}
		</h2>
	{% elseif title %}
		<h2 class="body-section-title">
			{{ title }}
		</h2>
	{% endif %}

	{% if body %}
		<div class="body-section-text">
			{{ body|raw }}
		</div>
	{% endif %}

  {% if references %}
    <div class="body-section-references">
			{% if references_title %}
				<h3 class="references-title">
					{{ references_title }}
				</h3>
			{% endif %}

			{% if references %}
				<div class="references">
					{{ references|raw }}
				</div>
			{% endif %}
		</div>

	{% endif %}

</article>
