<article class="body-section">

	{# {{ dump(title) }}
	{{ dump(title_display) }}
	{{ dump(body) }}
	{{ dump(references_title) }}
	{{ dump(references) }} #}

	{% if title_display %}
		<h2 class="body-section-title">
			{{ title_display|raw }}
		</h2>
	{% elseif title %}
		<h2 class="body-section-title">
			{{ title }}
		</h2>
	{% endif %}

	{% if body %}
		<div class="body-section-text">
			{{ body|raw }}
		</div>
	{% endif %}

  {% if references_title or references %}
		{% if references_title %}
			<h3 class="body-section-references-title">
				{{ references_title }}
			</h3>
		{% endif %}

		{% if references %}
			<div class="body-section-references">
				{{ references|raw }}
			</div>
		{% endif %}
	{% endif %}

</article>
