<article{{attributes.addClass(classes)}}>

	<div class="teaser-card-image item-teaser-image">
		{{ image_caption }}
	</div>

	{% if title or subtitle %}
		<div class="teaser-card-header">
			{% if title %}
				<h2 class="teaser-card-title item-teaser-title">
						<a href="{{ url }}" rel="bookmark">{{ title }}</a>
				</h2>
			{% endif %}

			{% if subtitle %}
				<h3 class="teaser-card-subtitle item-teaser-subtitle">{{ subtitle }}</h3>
			{% endif %}
		</div>
	{% endif %}

	{% if teaser_text %}
		<div class="teaser-card-body">
			{{ teaser_text }}
		</div>
	{% endif %}

</article>
