<div class="person-bio-card">

    {% if image_url %}
        <div class="headshot">
            <img alt="{{ image_alt ? image_alt : name }}" src="{{ image_url }}" />
        </div>
    {% endif %}
    
    <div class="bio-content">
        {{ name_linked }}
        {% if hide_role == '0' %}
            <div class="role">{{ role }}</div>
        {% endif %}
        {{ bio_override ? bio_override|raw : bio|raw }}
    </div>

</div>
