<article{{attributes.addClass(classes)}}>

	<div class="teaser-card-image section-teaser-image">
		{{ image_caption }}
	</div>

	{% if title %}
		{{ title_prefix }}
		<h2 class="teaser-card-title section-teaser-title">
			<span>
				<a href="{{ url }}" rel="bookmark">{{ title }}</a>
			</span>
		</h2>
		{{ title_suffix }}
	{% endif %}

	{{ dump(subtitle) }}
	{{ dump(teaser_text) }}
	{{ dump(body) }}

	{% if subtitle %}
		SUBTITLE!<br>
		<h3 class="teaser-card-subtitle section-teaser-subtitle">{{ subtitle }}</h3>
	{% endif %}

	{% if teaser_text %}
		TEASER TEXT!<br>
		{{ teaser_text }}
	{% endif %}

	{% if body %}
		BODY!<br>
		{{ body }}
	{% endif %}

</article>
