<article{{ attributes.addClass(classes) }}>

  <div class="teaser-card-image">
    {{ image_caption }}
  </div>

  {% if title %}
    {{ title_prefix }}
    <h2 class="teaser-card-title">
      <a href="{{ url }}" rel="bookmark">{{ title }}</a>
    </h2>
    {{ title_suffix }}
  {% endif %}

  {% if subtitle %}
    <h3 class="teaser-card-subtitle">{{ subtitle }}</h3>
  {% endif %}

  {% if body %}
    {{ body }}
  {% endif %}

  <hr>
  {{ volume_reference }}
  {{ issue_reference }}

</article>