<article class="volume volume-elements node--type-how2-volume">

  {# Volume navigation #}
  {% if volume_navigation %}
    {% if volume_navigation.prev is not empty or volume_navigation.next is not empty %}
      <ul class="volume-navigation">
        {% if volume_navigation.prev is not empty %}
          <li>
            Previous: <a href="{{ path('entity.node.canonical', {'node': volume_navigation.prev.id}) }}" class="volume-navigation__prev">{{ volume_navigation.prev.label }}</a>
          </li>
        {% endif %}
        
        {% if volume_navigation.next is not empty %}
          <li>
            Next: <a href="{{ path('entity.node.canonical', {'node': volume_navigation.next.id}) }}" class="volume-navigation__next">{{ volume_navigation.next.label }}</a>
          </li>
        {% endif %}
      </ul>
    {% endif %}
  {% endif %}

   {{ archive_link }}

  <div class="issues">
    {{ issues }}
  </div>

</article>
