<article class="volume volume-elements node--type-how2-volume">

	<div class="content">

		{{ title_prefix }}
		{% if title %}
			<h1 class="text-center !mb-5">{{ title }}</h1>
		{% endif %}
		{{ title_suffix }}

		<div class="flex !my-5">
			<div class="w-1/3">
				{% if volume_navigation.prev is not empty %}
					<a href="{{ path('entity.node.canonical', {'node': volume_navigation.prev.id}) }}" class="button button--primary button--small">
						<span aria-hidden="true">←</span>
						{{ volume_navigation.prev.label }}
					</a>
				{% endif %}
			</div>

			<div class="w-1/3 text-center">
				{{ archive_link }}
			</div>

			<div class="w-1/3 text-right">
				{% if volume_navigation.next is not empty %}
					<a href="{{ path('entity.node.canonical', {'node': volume_navigation.next.id}) }}" class="button button--primary button--small">
						{{ volume_navigation.next.label }}
						<span aria-hidden="true">→</span>
					</a>
				{% endif %}
			</div>
		</div>

		<div class="issues mt-5">
			{{ issues }}
		</div>
	</div>

</article>
