<article{{attributes.addClass(classes)}}>

	<div class="publication-teaser-inner">

		<div class="publication-teaser-image">
			{{ cover_thumbnail }}
		</div>

		<div{{content_attributes.addClass('node__content')}}>

			{{ issue_number }}

			<div class="issue-meta">
				<div class="left">
					<div class="issue-volume-number">{{ volume_issue }}</div>
					{{ publication_date_display }}
				</div>
			</div>

			{% if label %}
				<a href="{{ url }}" rel="bookmark" class="publication-teaser-link">{{ title }}</a>
			{% endif %}

		</div>

	</div>

</article>
