<article class="article-teaser">

	<div class="article-contributor">
		{{ names }}
	</div>

	{{ title_prefix }}
	<h2 class="article-title">
		<a href="{{ url }}" rel="bookmark">
			{% if title_display['#items'] is not empty %}
				{{ title_display }}
			{% elseif title['#items'] is not empty %}
				{{ title }}
			{% endif %}
		</a>
	</h2>
	{{ title_suffix }}

</article>
