<article class="section">

	<h2 class="dev-heading">This is a section (not an article)</h2>

	<div class="page-sections">

		<div class="page-section">
			<h3 class="dev-heading">issue-meta</h3>
			<p class="dev-text">
				This is not currently working for sections; I am investigating.
			</p>

			{{ dump(issue_url) }}
			{{ dump( archive_url[0]['#url'].toString() ) }}

			{% include "@issue-meta/issue-meta.html.twig" with {
				journal_name: journal,
				journal_url: journal_url,
				volume_issue: volume_issue,
				issue_pub_date: issue_pub_date,
				issue_url: issue_url[0]['#url'].toString(),
				archive_url: archive_url[0]['#url'].toString(),
			} %}
		</div>

		<div class="page-section">
			<h3 class="dev-heading">images</h3>
			<p class="dev-text">
				Images currently appear in the left sidebar.
			</p>
			{{ images }}
		</div>

		<div class="page-section">
			<h3 class="dev-heading">body</h3>
			<p class="dev-text">
				Body text is the actual text of the piece.
			</p>
			{{ body }}
		</div>

		<div class="page-section">
			<h3 class="dev-heading">piece</h3>
			<p class="dev-text">
				This is a list of the articles assigned to this section.
			</p>
			{{ piece }}
		</div>

		<div class="page-section">
			<h3 class="dev-heading">working_notes</h3>
			<p class="dev-text">
				Where do we want this to appear?
			</p>
			{{ working_notes }}
		</div>

		<div class="page-section">
			<h3 class="dev-heading">person_bio</h3>
			<p class="dev-text">
				Where do we want this to appear?
			</p>
			{{ person_bio }}
		</div>
	</div>

</article>
