{% set has_image = 0 %}
{% set the_image = '' %}

{% if image_caption['#items'] and image_caption['#items']|length > 0 %}
	{% set image_caption_content = image_caption|render|striptags|trim %}
	{% if image_caption_content and image_caption_content != '' %}
		{% set has_image = 1 %}
		{% set the_image = image_caption %}
	{% endif %}
{% endif %}

{% if images['#items'] and images['#items']|length > 0 %}
	{% set images_content = images|render|trim %}
	{% if '<img' in images_content %}
		{% set has_image = 1 %}
		{% set the_image = images %}
	{% endif %}
{% endif %}

<article class="section">
	<div class="content">

		{% if title_display|render|trim %}
			<div class="content-section content-section--lg">
				<h1>{{ title_display }}</h1>
			</div>
		{% elseif title %}
			<div class="content-section content-section--lg">
				<h1>{{ title }}</h1>
			</div>
		{% endif %}

		<div class="content-section content-section--sm">
			{% include "@issue-meta/issue-meta.html.twig" with {
				journal_name: journal,
				journal_url: journal_url,
				volume: volume,
				issue: issue,
				volume_issue: volume_issue,
				issue_pub_date: issue_pub_date,
				issue_url: issue_url,
				archive_url: archive_url[0]['#url'].toString(),
			} %}
		</div>

		{% if person_bio['#items'] and person_bio['#items']|length > 0 %}
			<div class="content-section content-section--lg">
				{{ person_bio }}
			</div>
		{% endif %}

		{% if working_notes[0]['#text'] %}
			<div class="content-section content-section--lg">
			  {{ working_notes }}
			</div>
		{% endif %}

		{% if pieces[0] %}
			<div class="content-section content-section--lg">
				<div class="article-teasers">
			  	{{ pieces }}
				</div>
			</div>
		{% endif %}

		{% if body %}
			<div class="content-section content-section--lg">
			  {{ body }}
			</div>
		{% endif %}

		{% if has_image %}
			<div class="content-section content-section--lg">
				<h2>Section Images</h2>
				<p>
					Click on an image to open a full-screen version.
				</p>
				{{ images }}
			</div>
		{% endif %}

	</div>

</article>
