<article class="section">

	{% set has_image = 0 %}
	{% set the_image = '' %}

	{% if image_caption['#items'] and image_caption['#items']|length > 0 %}
		{% set image_caption_content = image_caption|render|striptags|trim %}
		{% if image_caption_content and image_caption_content != '' %}
			{% set has_image = 1 %}
			{% set the_image = image_caption %}
		{% endif %}
	{% endif %}

	{% if images['#items'] and images['#items']|length > 0 %}
		{% set images_content = images|render|trim %}
		{% if '<img' in images_content %}
			{% set has_image = 1 %}
			{% set the_image = images %}
		{% endif %}
	{% endif %}

	<div class="section-header {% if has_image %}has-image{% endif %}">

		{% if has_image %}
			<div class="section-header-image">
				{{ the_image }}
			</div>
		{% endif %}

		<div class="section-header-text">
			{% if title_display|render|trim %}
				<h1>{{ title_display }}</h1>
			{% elseif title %}
				<h1>{{ title }}</h1>
			{% endif %}

			{% include "@issue-meta/issue-meta.html.twig" with {
				journal_name: journal,
				journal_url: journal_url,
				volume_issue: volume_issue,
				issue_pub_date: issue_pub_date,
				issue_url: issue_url,
				archive_url: archive_url[0]['#url'].toString(),
			} %}

			<h2 class="dev-heading">This is a section (not an article)</h2>

			{% if body %}
				{{ body }}
			{% endif %}
		</div>
	</div>

	<div class="section-pieces">
		{{ pieces }}
	</div>

	{% if working_notes['#items'] and working_notes['#items']|length > 0 %}
		{{ working_notes }}
	{% endif %}

	{% if person_bio['#items'] and person_bio['#items']|length > 0 %}
		{{ person_bio }}
	{% endif %}

</div></article>
