<div class="issue-meta">
	<div class="left">
		<div class="journal-name">
			<a href="{{ journal_url }}">{{ journal }}</a>
		</div>
		<div class="issue-volume-number">{{ volume_issue }}</div>
		<div class="issue-pub-date">{{ issue_pub_date }}</div>
		<div>
			<a href="{{ issue_url }}">table of contents</a>
		</div>
	</div>
	<div class="right">
		{{ archive_url }}
	</div>
</div>
