<div class="issue-meta">

	{% if journal_name %}
		<div class="journal-name">
			<a href="{{ journal_url }}">{{ journal_name }}</a>
		</div>
	{% endif %}

	{% if volume_issue %}
		<div class="issue-volume-number">
			{{ volume_issue }}
		</div>
	{% endif %}

	{% if issue_pub_date %}
		<div class="issue-pub-date">
			{{ issue_pub_date }}
		</div>
	{% endif %}

	{% if masthead %}
		<div class="issue-pub-date">
			<a href="{{ masthead }}">Masthead</a>
		</div>
	{% endif %}

	{% if person_bio %}
		<div class="issue-pub-date">
			<a href="{{ person_bio }}">Bios</a>
		</div>
	{% endif %}

	{% if page_facsimiles %}
		<div class="issue-pub-date">
			<a href="{{ page_facsimiles }}">Page Facsimiles</a>
		</div>
	{% endif %}

	{% if issue_url|render|trim is not empty %}
		<div class="issue-url">
			<a href="{{ issue_url }}">table of contents</a>
		</div>
	{% endif %}

	{% if archive_url|render|trim is not empty %}
		<div class="archive-url">
			<a href="{{ archive_url }}">html archive</a>
		</div>
	{% endif %}

	{% if pdf_url|render|trim is not empty %}
		<div class="pdf-url">
			<a href="{{ pdf_url }}">Download PDF</a>
		</div>
	{% endif %}

</div>
