{% set volume_url = journal_url ~ '/v' ~ volume_num %}
{% set issue_url = volume_url ~ '/n' ~ issue_num %}

<article class="issue page-sections">

	<div class="content">

		<div class="issue-header">
			<div class="issue-image">
				{{ featured_image }}
			</div>

			<div class="issue-title">
				{{ title_prefix }}

        {% if title_display %}
				  <h1>{{ title_display }}</h1>
				{% else %}
  				<h1>{{ journal }}	Vol. {{volume_num}}, No. {{issue_num}} ({{ date }})</h1>
				{% endif %}
				
				{{ title_suffix }}

				{# Issue navigation #}
				{% if issue_navigation.prev or issue_navigation.next %}
					<div class="flex justify-between my-3">
						<div class="w-1/2 flex justify-start">
						  {% if issue_navigation.prev %}
								<a href="{{ path('entity.node.canonical', {'node': issue_navigation.prev.id}) }}" class="button button--primary button--small">
									{{ issue_navigation.prev.label }}
								</a>
						  {% endif %}
						</div>

						<div class="w-1/2 flex justify-end">
						  {% if issue_navigation.next %}
								<a href="{{ path('entity.node.canonical', {'node': issue_navigation.next.id}) }}" class="button button--primary button--small">
									{{ issue_navigation.next.label }}
								</a>
						  {% endif %}
						</div>
					</div>
				{% endif %}

				<div class="content-section content-section--sm">
					{% include "@issue-meta/issue-meta.html.twig" with {
						journal_name: journal,
						journal_url: journal_url,
						volume_url: volume_url,
						issue_url: issue_url,
						volume_num: volume_num,
						issue_num: issue_num,
						volume_issue: volume_issue,
						issue_pub_date: date,
						archive_url: archive_url[0]['#url'].toString(),
						person_bio: person_bio,
						pdf_url: pdf_url,
						masthead: '#masthead',
						person_bio_link: '#people',
						page_facsimiles: page_facsimiles,
						hide_issue_toc: true
					} %}
				</div>
			</div>
		</div>

		{# 
		{% if sections_old %}
			<div class="page-section sections">
				<h3 class="dev-heading">Sections (old)</h3>
				<p class="dev-text">
					These are the "old" sections -- they only allow for sections to be added to them. We need to replace all of these with the "new" sections below, which allow not only for sections, but also for articles to be added directly.
				</p>
				<div class="issue-sections">
					{% for section in sections_old %}
						{{ drupal_entity('node', section.id(), 'teaser_card') }}
					{% endfor %}
				</div>
			</div>
		{% endif %}
		#}

		{% if sections_new %}
			<div class="content-section content-section--lg sections">
				{# <p class="dev-text">
					<b>Sections (new)</b>: These are the "new" sections -- they allow not only for sections, but also for articles to be added directly. Alas, the only "easy" way to migrate the sections to this new area is to do it manually.  We can start this process soon.
				</p> #}
				<div class="issue-sections">
					{% for section in sections_new %}
						{{ drupal_entity('node', section.id(), 'teaser_card') }}
					{% endfor %}
				</div>
			</div>
		{% endif %}

		{# {% if page_facsimiles %}
			<div class="content-section content-section--lg page-facsimiles" id="page-facsimiles">
				<h2>Page Facsimiles</h2>
				<p>
					Click on an image to open a full-screen version.
				</p>
				{{ page_facsimiles }}
			</div>
		{% endif %} #}

		{# {% if person_bio %}
			<div class="content-section content-section--lg people" id="people">
				<h3 class="dev-heading">Person Bio (?)</h3>
				<p class="dev-text">
					I noticed that each issue has a field that holds all the people associated with it, along with their bios.  
					Do we want to use this for anything, or display it anywhere?
				</p>
				<div class="person-bio">
					{% for paragraph in person_bio %}
						{{ drupal_entity('paragraph', paragraph.id(), 'default') }}
					{% endfor %}
				</div>
			</div>
		{% endif %} #}
	</div>
</article>
