<article class="issue">

  <div class="issue-header">
    <div class="issue-image">
      {{ featured_image }}
    </div>

    <div class="issue-title">
      {{ title_prefix }}
      <h1>{{title}}</h1>
      {{ title_suffix }}

      <ul>
        <li>{{ journal }}</li>
        <li>vol {{ volume }}, no. {{ issue }}</li>
        <li>{{ date }}</li>
        {% if archive_url %}
          <li>{{ link('View archival HTML', archive_url, {'class': ['archive-link']}) }}</li>
        {% else %}
          <li>No archive URL...?</li>
        {% endif %}
      </ul>

      <ul>
        <li><a class="tab active" href="#web-version">Web Version</a></li>
        <li><a class="tab" href="#page-facsimiles">Page Facsimiles</a></li>
        {% if pdf_url %}
          <li><a target="_blank" href="{{ pdf_url }}">Download PDF</a></li>
        {% endif %}
      </ul>
    </div>
  </div>

  {% if sections_old %}
    <h3>Sections (old)</h3>
    <div class="issue-sections">
      {% for section in sections_old %}
        {{ drupal_entity('node', section.id(), 'teaser_card') }}
      {% endfor %}
    </div>
  {% endif %}
  
  {% if sections_new %}
    <h3>Sections (new)</h3>
    <div class="issue-sections">
      {% for section in sections_new %}
        {{ drupal_entity('node', section.id(), 'teaser_card') }}
      {% endfor %}
    </div>
  {% endif %}

  {% if page_facsimiles %}
    <h3>Page Facsimiles</h3>
    <div class="issue-element tab-body" id="page-facsimiles">
      {{ page_facsimiles }}
    </div>
  {% endif %}

  {% if masthead %}
    <h3>Masthead</h3>
    <div class="masthead">
      {{ masthead|raw }}
    </div>
  {% endif %}

  {% if person_bio %}
    <h3>Person Bio (?)</h3>
    <div class="person-bio">
      {% for paragraph in person_bio %}
        {{ drupal_entity('paragraph', paragraph.id(), 'default') }}
      {% endfor %}
    </div>
  {% endif %}
  
</article>
